# ***q1***

In [ ]:
def area(a,b,c):
    if c=='losango':
        print('O losango tem %i de area'%((a*b)/2))
    else:
        print('O retangulo tem %i de area'%(b*a))

# ***q2***

In [ ]:
def area(a,b,c):
    if c=='losango':
        print('O losango tem %i de area'%((a*b)/2))
    elif c=='retangulo':
        print('O retangulo tem %i de area'%(b*a))
    else:
        print('O triangulo tem %i de area'%((a*b)/2))

q3

In [ ]:
def area(a,b,c):
    bastri=(b*a)/2
    if c=='circulo':
        print('O circulo tem %i de area'%(b*a**2))
    elif c=='retangulo':
        print('O retangulo tem %i de area'%(a*b))
    elif c=='losango':

        print('O losango tem %i de area'%(bastri))
    else:
        print('O triangulo tem %i de area'%(bastri))

q4

In [ ]:
def banner(n):
    if n%2==0:
        if n>0:
            print('| | | | | | | | | |')
        else:
            print('. . . . . . . . . .')
    else:
        if n>0:
            print('- - - - - - - - - -')
        else:
            print('= = = = = = = = = =')

q5

In [ ]:
def dinheiros(n,a,b):
    if n%2 == 0 and a >= b:
        print(int((n/2)*b))
    elif n%2 == 0 and a < b:
        print(int(n*a))
    elif n%2 != 0 and a > b:
        print ((n//2)*b + (n%2)*a)
    else:
        print(n*a)

q6

In [ ]:
def dominos(a,b):
    print(int((a*b)/2))

q7

In [ ]:
def realidade(a,b,c):
    d=(b**2)-4*(a*c)
    if d<0:
        print('complexas')
    else:
        print('reais')

28

q8

In [ ]:
def formamisteriosa(a,b,c):
    if a==b:
        print('pode ser quadrado')
    else:
        print('pode ser retangulo')
    if (a+b)>c and (a+c)>b and (c+b)>a:
        if a==b==c:
            print('pode ser triangulo equilatero')
        elif a==b!=c or a==c!=b:
            print('pode ser triangulo isosceles')
        else:
            print('pode ser triangulo escaleno')

q9

In [ ]:
def classificador(a,b,c):
    if (a+b)>c and (a+c)>b and (c+b)>a:
        print('triangulo')
        if a!=b and b!=c and a!=c:
            print('escaleno')
        if a==b or b==c or a==c:
            print('isosceles')
        if a==b and a==c and b==c:
            print('equilatero')
        else:
            m=max(a,b,c)
            if m==a:
                if a**2==(b**2)+(c**2):
                    print('retangulo')
            elif m==b:
                if (b**2)==(a**2)+(c**2):
                    print('retangulo')
            else:
                if c**2==(a**2)+(b**2):
                    print('retangulo')
    else:
        print('gondim sendo gondim')

[5, 6]
5 6
10

q10

In [ ]:
def older(a,b):
    if max(a,b)==a and max(a,b)!=b:
        print('A')
    elif max(a,b)==b and max(a,b)!=a:
        print('B')
    else:
        print('Maybe twins')

triangulo
escaleno

q11

In [ ]:
def riscu(a,b):
    m=max(a,b)
    if m==a and m!=b or m==b and m!=a:
        if m==a:
            print('Jogador A vence')
        else:
            print('Jogador B vence')
    else:
        print('Dois jogadores igualmente fracos')

q12

In [ ]:
def jogadas(a,b):
    n=b-a
    if a==b:
        print(n)
    elif a<b:
        if n%10==0:
            print(n//10)
        else:
            print((n//10)+1)
    else:
        n=a-b
        if n%10==0:
            print(n//10)
        else:
            print((n//10)+1)

q13

In [ ]:
def sedeDeMelancia(w):
    if w%2==0:
        if (w//2)%2==0:
            print('SIM')
        else:
            print('NAO')
    else:
        print('NAO')

q14

In [ ]:
def qtdcopos(n):
    if n>0:
        if n%4==0:
            print('Pode levar pros calourinhos, deivis!')
        else:
            print('Pode voltar pro ceubinho, deivis! Falta(m) %i copo(s)!'%(4-(n%4)))
    else:
        print('Pode voltar pro ceubinho, deivis! Falta(m) 4 copo(s)!')

3

q15

q16

In [ ]:
def quantosJantam(n,g,f,c):
    if n>0:
        if f==0 or g==0:
            if n<c:
                print(n)
            else:
                print(c)
        else:
            if f>g:
                if n<=g+c:
                    print(n)
                else:
                    print(g+c)
            elif g>f:
                if n<=f+c:
                    print(n)
                else:
                    print(f+c)
            elif c>n:
                print(n)
    elif n==0:
        print(n)

q17

In [ ]:
def pitorestico(a,b,c):
    if a%2==0 and a%3==0 and a%5==0:
        if b%2==0 and b%3==0 and b%5==0:
            if c%2==0 and c%3==0 and c%5==0:
                print('Pitorestico!!!')
            else:
                print('Nao foi dessa vez')
        else:
                print('Nao foi dessa vez')

    else:
        print('Nao foi dessa vez')

q18

In [ ]:
def NomeMes(n):
    if n>0:
        if n==1:
            return 'Janeiro'
        if n==2:
            return 'Fevereiro'
        if n==3:
            return'Março'
        if n==4:
            return'Abril'
        if n==5:
            return'Maio'
        if n==6:
            return'Junho'
        if n==7:
            return'Julho'
        if n==8:
            return'Agosto'
        if n==9:
            return'Setembro'
        if n==10:
            return'Outubro'
        if n==11:
            return'Novembro'
        if n==12:
            return 'Dezembro'
    else:
        return 'Mês inválido'

abacaxi
None

q19

In [ ]:
def EhBissexto(n):
    if n>0:
        if n%4==0:
            return 'Bissexto'
        elif n%400==0:
            return 'Bissexto'
        else:
            return 'Ano Comum'

q20

In [ ]:
def EhRetangulo(a,b,c):
    m=max(a,b,c)
    if m==a:
        if a**2==b**2+c**2:
            return 1
    elif m==b:
        if b**2==a**2+c**2:
            return 1
    elif m==c:
        if c**2==a**2+b**2:
            return 1
    return 0

q21

In [ ]:
def Ordena(a,b,c):
    maior=max(a,b,c)
    menor=min(a,b,c)
    if maior==a:
        if menor==b:
            return b,c,a
        elif menor==c:
            return c,b,a
    elif maior==b:
        if menor==a:
            return a,c,b
        elif menor==c:
            return c,a,b
    else:
        if menor==a:
            return a,b,c
        elif menor==b:
            return b,a,c

q22

In [ ]:
def Alfabeto(a):
    n=ord(a)
    if 64<n<91 or 96<n<123:
        if n==65 or n==97:
            return 'Vogal'
        elif n==69 or n==101:
            return 'Vogal'
        elif n==73 or n==105:
            return 'Vogal'
        elif n==79 or n==111:
            return 'Vogal'
        elif n==85 or n==117:
            return'Vogal'
        else:
            return 'Consoante'
    else:
        return 'Não está no alfabeto'

q23